body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('image/tic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -1;
}

h3 {
    color: #333;
    font-size: 1.98em;
    margin-bottom: 11px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8.8px 17.6px;
    border-radius: 8.8px;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 55px);
    grid-template-rows: repeat(5, 55px);
    gap: 4.4px;
    margin: 11px auto;
    background: radial-gradient(circle, #000000 0%, #400000 30%, #800000 60%, #ec1a1a 100%);
    padding: 8.8px;
    border-radius: 16.5px;
    box-shadow: 0 0 11px rgba(0,0,0,0.2);
}

.cell {
    width: 55px;
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26.4px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4.4px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-shadow: 0 2.2px 4.4px rgba(0,0,0,0.1);
}

.cell:hover {
    background-color: #f0f0f0;
    transform: translateY(-2.2px);
    box-shadow: 0 4.4px 8.8px rgba(0,0,0,0.2);
}

.cell:active {
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.cell.x::before, .cell.o::before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.cell.x::before {
    content: 'X';
    color: #ec1a1a;
}

.cell.o::before {
    content: 'O';
    color: #000;
}

button {
    padding: 8.8px 17.6px;
    font-size: 15.4px;
    cursor: pointer;
    background-color: #ec1a1a;
    color: white;
    border: none;
    border-radius: 4.4px;
    margin-top: 11px;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #ff2e2e;
}

.status {
    margin-bottom: 11px;
    font-size: 17.6px;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8.8px 17.6px;
    border-radius: 8.8px;
    box-shadow: 0 2.2px 5.5px rgba(0,0,0,0.1);
}

.status .player-x {
    color: #ec1a1a;
    font-weight: 900;
}

.status .player-o {
    color: #000;
    font-weight: 900;
}
