/* header.css */

header {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    padding: 1.5rem 0;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: none;
    height: auto; /* Ensure header height is auto */
}

.nav-logo a {
    display: inline-block;
}
.nav-logo img {
    max-width: 45px;
    margin-right: 10px;
    transition: transform 0.5s ease;
    vertical-align: middle;
}
.nav-logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.nav-logo:hover {
    transform: scale(1.05);
}
.nav-logo:hover img {
    transform: scale(1.05);
}
.nav-logo span {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}
nav a:hover {
    color: #ffcc00;
    transform: translateY(-2px);
}

.project-list-link {
    color: #fff;
    background: linear-gradient(135deg, #9b59b6, #3498db);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    position: relative;
    display: inline-block;
}

.get-in-touch-link {
    color: #3498db; 
    background: white; 
    padding: 0.5rem 1rem; 
    border-radius: 15px;
    position: relative;
    transition: background 0.3s ease, transform 0.3s ease;
    display: inline-block;
    margin: 0 0.5rem;
}
.get-in-touch-link:hover {
    background-color: #ffe26e;
    color: #9b59b6;
    transform: translateY(-2px);
}

/* ========== Add these lines at the bottom ========== */
.sticky-header {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    z-index: 9999; /* make sure it’s above other elements */
}
